.Button {
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
    background: rgba(238, 210, 158, 0.8);
    border: 1px solid #e8b874;
    border-bottom: 1px solid #ba945d;
    padding: 10px 22px;
}

.Button:hover {
    border-bottom: 1px solid #e8b874;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}